body {
  font-family: Verdana, sans-serif;
}

#header {
  background-color: #F1F1F1;
  text-align:center;
  padding: 20px;
}

#navbar {
  overflow: hidden;
  background-color: #030303;
}

#navbar a {
  float: left;
  display: block;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a.hover {
  background-color: "0D0D0D"
  color: black;
}
